* {
    border-width: 2px;
    border-style: solid;
    padding: 0;
}

h1 {
    font-family: "Noto Sans";
    font-size: 100px;
    text-align: center;
    letter-spacing: -5px;
    margin: 0 0 0 0;
}

form {
    text-align: center;
}

#bar {
    margin-left: -25%;
    margin-bottom: 10px;
    width: 150%;
    height: 36px;
}

.grid {
    display: grid;
    grid-template: 2fr 50% 1fr / 100%;
    height: 720px;
    justify-items: center;
}

.header {
    width: 100%;
}

.searchbar {
    grid-row-start: 2;
}

.footer {
    grid-row-start: 3;
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}